<?xml version="1.0" encoding="UTF-8"?>
<!-- https://phpunit.readthedocs.io/en/latest/configuration.html -->
<phpunit xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="https://schema.phpunit.de/10.5/phpunit.xsd" backupGlobals="false" colors="true" bootstrap="tests/bootstrap.php" cacheDirectory=".phpunit.cache">
  <coverage/>
  <php>
    <ini name="error_reporting" value="-1"/>
    <server name="APP_ENV" value="test" force="true"/>
    <server name="SHELL_VERBOSITY" value="-1"/>
    <server name="SYMFONY_PHPUNIT_REMOVE" value=""/>
    <server name="SYMFONY_PHPUNIT_VERSION" value="7.5"/>
    <server name="KERNEL_CLASS" value="App\Kernel"/>
    <env name="SYMFONY_DEPRECATIONS_HELPER" value="disabled"/>
    <env name="DB_USERNAME" value="root"/>
    <env name="APP_ENV" value="test"/>
    <env name="DB_PASSWORD" value="Chargebacks911!"/>
    <env name="DB_NAME" value="emp_config"/>
    <env name="DB_HOSTNAME" value="empmysql"/>
    <env name="READ_DB_HOSTNAME" value="empmysql"/>
    <env name="EMP_users_URL" value="http://empusers/"/>
    <env name="EMP_case_ECS_URL" value="http://empcase/"/>
    <env name="EMP_api_URL" value="http://empapi/"/>
    <env name="CLIENT" value="jpmorgam"/>
    <env name="STACK_NAME" value="dev"/>
    <env name="STACK_ID" value="1"/>
    <env name="STAGE" value="dev"/>
    <env name="REGION" value="us-east-1"/>
    <env name="CLIENT" value="random_value"/>
    <!-- ###+ symfony/framework-bundle ### -->
    <env name="APP_ENV" value="dev"/>
    <env name="APP_SECRET" value="9a34b8ef541ceee611670cdf8808a832"/>
    <!-- ###- symfony/framework-bundle ### -->
    <!-- ###+ doctrine/doctrine-bundle ### -->
    <!-- Format described at https://www.doctrine-project.org/projects/doctrine-dbal/en/latest/reference/configuration.html#connecting-using-a-url -->
    <!-- IMPORTANT: You MUST configure your server version, either here or in config/packages/doctrine.yaml -->
    <!--  -->
    <!-- DATABASE_URL="sqlite:///%kernel.project_dir%/var/data.db" -->
    <!-- DATABASE_URL="mysql://app:!ChangeMe!@127.0.0.1:3306/app?serverVersion=8.0.32&charset=utf8mb4" -->
    <!-- DATABASE_URL="mysql://app:!ChangeMe!@127.0.0.1:3306/app?serverVersion=10.11.2-MariaDB&charset=utf8mb4" -->
    <env name="DATABASE_URL" value="postgresql://app:!ChangeMe!@127.0.0.1:5432/app?serverVersion=15&amp;charset=utf8"/>
    <!-- ###- doctrine/doctrine-bundle ### -->
  </php>
  <testsuites>
    <testsuite name="Project Test Suite">
      <directory>tests</directory>
    </testsuite>
  </testsuites>
  <source>
    <include>
      <directory suffix=".php">src</directory>
    </include>
  </source>
</phpunit>
